<h1>Task new</h1>

<!--<form action="/tasks" method="post">
  <input type="text" name="task[name]" placeholder="Enter task name">
  <input type="text" name="task[details]" placeholder="Enter details">
  <input type="submit">

</form> -->

<%= render 'tasks/form' %>
